/* Login.module.css */

/* Container */
.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

/* Image Container */
.imageContainer {
  flex: 1;
  text-align: center;
  margin: 20px;
}
.btnPrimary {
  margin-left: 200px;
  margin-right: 200px;
  background-color: #008080;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 12px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
}

.formGroup label {
  font-size: 16px;
  color: #008080; /* Change the label text color */
  margin-bottom: 8px;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Form Container */
.formContainer {
  flex: 1;
  padding: 20px;
}

/* Form Box */
.formBox {
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

/* Welcome message */
.welcome {
  margin: 20px 0;
  font-size: 24px;
  color: lightcoral;
  text-align: center;
}

/* Form */
.login-form {
  text-align: center;
}

Form group
.form-group {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 20px;
  text-align: left;
  width: 100%; /* Set form-group to full width */
}

.form-group label {
  flex: 1;
  margin-right: 10px;
  font-size: 16px;
  color: #008080; /* Change label color to your desired color */
}

/* Form input */
.inputLg {
  flex: 2;
  font-size: 16px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: lightcoral;
  color: #fff; /* Change input text color to white */
  width: 30%; /* Set width to 50% to match the input fields and leave some gap */
  margin-right: 10px; /* Add a margin between fields */
  border: none;
  align-items: center;
}

/* Input icons */
.form-group i {
  position: absolute;
  top: 18px;
  right: 20px;
  color: #93a5ab;
}

/* Submit button */
.btn-success {
  background-color: #008080; /* Change button background color */
  border: 2px solid #008080; /* Change button border color */
  border-radius: 5px;
  color: teal;
  font-size: 20px;
  padding: 10px 0;
  width: 50%; /* Center the button */
  margin: 0 auto; /* Center the button */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #7d3465; /* Change button background color on hover */
}

/* Forgot links */
.forgotLinks {
  color: #008080;
  margin-top: 20px;
  text-align: center;
}

.LoginAdmin {
  text-align: center;
  text-underline-position: below;
  
}

.forgotLinks a {
  color: #008080;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgotLinks a:hover {
  color: #7d3465;
}

.divider {
  margin: 0 10px;
}

/* Register link */
.registerLink {
  margin-top: 20px;
  text-align: center;
}

.registerLink a {
  color: #008080;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.registerLink a:hover {
  color: #7d3465;
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
  .loginContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imageContainer {
    order: 2;
    margin-top: 20px;
  }

  .imageContainer img {
    max-width: 80%;
  }

  .formContainer {
    order: 1;
  }

  .inputLg {
    font-size: 14px;
    height: 40px;
    padding: 8px 16px;
    width: 100%; /* Adjust input width for smaller screens */
    margin-right: 0; /* Remove the right margin on smaller screens */
  }

  .btn-success {
    font-size: 16px;
    padding: 8px 0;
    width: 100%; /* Adjust button width for smaller screens */
  }
}

.LoginLogin{
  width: 20%;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
  background-color: #6c63ff;
  margin: auto;

}

.btnPrimary {
  margin-left: 200px;
  margin-right: 200px;
  background-color: #008080;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 12px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
}